<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="top-content">
      <img src="assets/imgs/logo.png" alt="" class="logo">
    </div>

    <form class="bottom-content" [formGroup]="authService.loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" labelPlacement="floating" [type]="viewPassword == true?'text':'password'" formControlName="password"></ion-input>
        <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
          <ion-icon slot="icon-only" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'">
          </ion-icon>
        </ion-button>
      </ion-item>

      <div class="reset ion-activatable ripple-parent" (click)="reset()">
        <p>Forgot Password?</p>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <ion-button expand="block" shape="round" class="login-btn" type="submit" [disabled]="!authService.loginForm.valid">
        Sign In
      </ion-button>

      <!-- <p class="or-text"> <span>or sign in with</span> </p> -->

      <!-- <div class="social">
        <ion-button (click)="onSocial()" fill="clear">
          <ion-icon slot="icon-only" name="logo-facebook" style="color: blue;"></ion-icon>
        </ion-button>
        <ion-button (click)="onSocial()" fill="clear">
          <ion-icon slot="icon-only" name="logo-twitter" style="color: #1DA1F2;"></ion-icon>
        </ion-button>
        <ion-button (click)="onSocial()" fill="clear">
          <ion-icon slot="icon-only" name="logo-google" style="color:tomato"></ion-icon>
        </ion-button>
      </div> -->
      <p class="warning-message" *ngIf="!authService.loginForm.get('email')?.valid && authService.loginForm.get('email')?.touched">Please enter a valid email address.</p>
      <p class="warning-message" *ngIf="!authService.loginForm.get('password')?.valid && authService.loginForm.get('password')?.touched">Password should be at least 6 characters long.</p>

      <div class="register">
        <p>Don't have an account?</p>
        <div class="regiterBtn ion-activatable ripple-parent" (click)="onRegister()">
          <p>Sign Up</p>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </form>
  </div>
</ion-content>