<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discovery" href="/tabs/discovery">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Discovery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations" href="/tabs/reservations">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
