.add-reservation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  
  .add-reservation-text {
    text-align: center;
  }