.upper_div {
    .name {
      padding-bottom: 5px;
    }
  
    .mail {
      color: #D3D3D3;
    }
  
    .pfp-wrapper {
        margin-bottom: -10px;
      .pfp {
        width: 100px;
      }
    }
  }